* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(183, 183, 183)ff;
}
header {
    background-color: rgb(214, 214, 255);
    background-image: url("../img/header_bg.png")
}
nav {
    float: right;
    margin-top: 40px;
    width: 550px;
}
main {
    background-color: rgb(101, 142, 209);
    background-image: url("../img/banner_bg.png");
    padding: 4%;
    height: 335px;
}
footer {
    background-image: url("../img/footer_bg.png");
    height: 55px;
}
.navButton {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 1%;
}
.text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}
#banner {
    width: 65%;
    float: left;
    margin-right: 1%;
}
#logo {
    margin: 1%;
    margin-left: 2%;
    height: 70px;
}
#page {
    width: 1100px;
    margin: 0px auto;
    height: 100%;
}
#mainTitle {
    color: white;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}
#secondMain {
    background-color: white;
    border: 1px solid black;
    height: 200px;
}