* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(229, 229, 229);
}
header {
    background-color: rgb(214, 214, 255);
    background-image: url("../img/header_bg.png")
}
nav {
    float: right;
    margin-top: 40px;
    width: 550px;
}
main {
    background-color: rgb(101, 142, 209);
    background-image: url("../img/banner_bg.png");
    padding: 4%;
    height: 335px;
}
footer {
    background-image: url("../img/footer_bg.png");
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    padding-top: 15px;
}
.navButton {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 1%;
}
.text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}
.secondText {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
}
.click {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}
.slider {
    float: left;
    margin-left: 50px;
    width: 300px;
}
#banner {
    width: 65%;
    float: left;
    margin-right: 1%;
}
#auto {
    float: left;
    max-width: 450px;
    margin-right: 1%;
    border: 6px solid white;
    border-radius: 30px;
}
#kleding {
    float: left;
    max-width: 450px;
    margin-right: 1%;
    border: 6px solid white;
    border-radius: 30px;
}
#logo {
    margin: 1%;
    margin-left: 2%;
    height: 70px;
}
#page {
    width: 1100px;
    margin: 0px auto;
    height: 100%;
}
#mainTitle {
    color: white;
    font-size: 26px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}
#secondTitle {
    font-size: 20px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
}
#secondMain {
    background-color: white;
    height: 320px;
}